.banner {
    background-color: #4d00ff;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-gritty {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black)
}

#gritter {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}